@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1b1c24;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container h1 {
  font-size: 18px;
  line-height: 30px;
  color: #f0eff3;
  text-align: center;
  position: relative;
}

