@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=EB+Garamond:wght@500&family=Ephesis&family=Montserrat:ital,wght@1,600&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    font-family: 'EB Garamond', sans-serif;
}
.heading{
    font-size: medium;
    font-weight: 200px;
    color: beige;
}
.dropdown .dropdown-content{
    color:whitesmoke ;
}
.dropdown .dropdown-content .heading{
        font-size: 20px;
        font-style: italic;
        font-weight: 50px;
}

.button{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}