*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: black;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  background-color: beige;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding:10px 20px;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: lightslategray;


}

::placeholder{
  color: black;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgb(5, 43, 18);
  cursor:pointer;
  color: white;
}
