
  @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Ephesis&family=Montserrat:ital,wght@1,600&display=swap');
 *{
    padding: 0;
    margin: 0;
}
  body 
  {
    background-color: #121212;
    font-family: 'montserrat', 'sans-serif';
}

    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 150px;
        background-color: #000000;
        padding: 24px;
    }

    .sidebar .logo img
     {
        width: 130px;
    }

    
    .sidebar .navigation ul {
        list-style: none;
        margin-top: 20px;
    }
    .sidebar .navigation ul li {
        padding: 10px 0px;
    }
    
    .sidebar .navigation ul li a {
        color: #b3b3b3;
        text-decoration: none;
        font-size: 18px;
    }
    
    .sidebar .navigation ul li .fa {
        font-size: 20px;
        margin-right: 5px;
    }
    
    .sidebar .navigation ul li a:hover {
        color: #ffffff;
    }
    
    .sidebar .policies {
        position: absolute;
        bottom: 100px;
    }
    
    .sidebar .policies ul {
        list-style: none;
    }
    
    .sidebar .policies ul li {
        padding-bottom: 5px;
    }
    
    .sidebar .policies ul li a {
        color: #b3b3b3;
        font-weight: 500;
        text-decoration: none;
        font-size: 10px;
    }
    
    .sidebar .policies ul li a:hover {
        text-decoration: underline;
    }
    .main-container{
        margin-left: 250px;
        margin-bottom: 100px;
    }
    .topbar{
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 14px 30px;
    }
    .topbar .prev-next-buttons button{
        color: #7a7a7a;
        cursor: not-allowed
        width: 34px;
        height: 34px;
        border-radius: 100%;
        font-size: 18px;
        border: 0px;
        background-color: #090909;
        margin-right: 10px;
    }
    .topbar .navbar{
        display: flex;
        align-items: center;
    }
    .topbar .navbar ul li{
        display: inline-block;
        margin: 0px 8px;
        width: 70px;
    }
    .topbar .navbar ul li a{
        color:#b3b3b3;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .topbar .navbar ul li a:hover{
        color:#ffffff;
        font-size: 15px;
    }
    .topbar .navbar button{
        background-color: #ffffff;
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        padding: 14px 30px;
        border: 0px;
        border-radius: 40px;
        cursor: pointer;
        margin-left: 20px;
        }
        .topbar .navbar button:hover {
            background-color: #f2f2f2;
        }   
        .spotify-playlists {
            padding: 10px 10px;
        }
        
        .spotify-playlists h2 {
            color: #ffffff;
            font-size: 22px;
            margin-bottom: 20px;
        }
        
        .spotify-playlists .list {
            display: flex;
            gap: 20px;
        }
        
        .spotify-playlists .list .item {
            width: 250px;
            padding: 20px;
            background-color: #181818;
            cursor: pointer;
            transition: all ease 0.4s;
        }
        
        .spotify-playlists .list .item:hover {
            background-color: #252525;
        }
        
        
        
        .spotify-playlists .list .item img {
            width: 70%;
            border-radius: 4px;
            margin-bottom: 5px;
        }
        
        .spotify-playlists .list .item .play {
            position: relative;
        }
        
        .spotify-playlists .list .item .play .fa {
            position: absolute;
            right: 10px;
            top: -60px;
            padding: 18px;
            background-color: #1db954;
            border-radius: 100%;
            opacity: 0.5;
            transition: all ease 0.4s;
        } 

     
        .spotify-playlists .list .item:hover .play .fa {
            opacity: 1;
            transform: translateY(-20px);
        }
        
        .spotify-playlists .list .item h4 {
            color: #ffffff;
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 600;
        }
    

        .player
        {width:110%;
        }
        
       
        .preview {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(to right, #ae2896, #509bf5);
            padding: 15px 40px;
            display: flex;
            justify-content: space-between;
        }
        
        .preview h6 {
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 10px;
        }
        
        .preview p {
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
        }
        
        .preview button {
            background-color: #ffffff;
            color: #000000;
            font-size: 16px;
            font-weight: bold;
            padding: 14px 30px;
            border: 0px;
            border-radius: 40px;
            cursor: pointer;
        }
        

        